.hero-container {
    margin: 0;
    display: block;
    background-color: white;
    color: #020817;
  }

  .hero-container.dark {
    background-color: #020817;
    color: #f0f0f0;
  }

  .hero-container.overlay-open {
    filter: blur(5px);
    pointer-events: none;
  }
  
  .overlay-open .hero-container {
    position: relative;
    z-index: 999;
  }

  .dark-mode {
    background-color: #121212;
    color: white;
  }